<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=lioncub3storage;AccountKey=TwOSlcS+5dsCkSCXGwb49f+7KgLQ1nA7s0s9ERZLqgI2xKq+gFL/OIRSIIZe+ya4v8uJtNDnLTd1taRaRhzMaw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>
